{% extends 'base.html' %}

{% block content %}

  <div id="profile-header">
    <div id='profile-header-container'>
      <img class="profile-image" src="../../static/images/{{profile.avatar}}.png" alt="">
      <div id="profile-header-text">
        <h3>{{userAssociatedWithProfile.first_name}}</h3>
        <p>@{{userAssociatedWithProfile.username}}</p>
        <p class="text-muted">{{profile.bio}}</p>
        <div id='profile-friend-and-update'>
          {% if userAssociatedWithProfile.id == user.id %}
            <form action="{% url 'update_profile' profile.id %}" method="get">
              {% csrf_token %}
              <button type="submit" class="btn btn-light">Update Profile</button>
            </form>
          {% else %}
            {% if is_friend %}
              <form action="{% url 'delete_friend' profile.id user.id%}" method="get">
                {% csrf_token %}
                <button type="submit" class="btn btn-light">Delete Friend</button>
              </form>
            {% else %}
              <form action="{% url 'add_friend' profile.id user.id%}" method="get">
                {% csrf_token %}
                <button type="submit" class="btn btn-light">Add Friend</button>
              </form>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>

<hr>


  <div class="row">
    <div id='profile-seeds' class="col">
      <div id='profile-seeds-header'>
        <h3>Seed Library</h3>
        <p class="text-muted">This is where you can find all the seeds you've added or saved. If you're growing them this year, click on the card and add them to your garden!</p>
      </div>
      {% if userAssociatedWithProfile.seed_set.count %}
        {% for seed in userAssociatedWithProfile.seed_set.all %}
          <div class="card mb-3 cardModule" id="seed-card" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-6">
                <div class="card-body">
                  <h5 class="card-title">{{seed.name}}</h5>
                  {% if seed.seed_source %}
                  <p class="card-text seed-source"><small class="text-muted">{{seed.seed_source}}</small></p>
                  {% endif %}
                  <a class="card-text" href="{% url 'seeds_detail' seed.id %}"><small>Details</small></a>
                  <div id="card-description">
                    <p class="card-text line-clamp">{{seed.description}}</p>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <img src="../../static/images/{{seed.kind}}.png" alt="...">
              </div>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>




    <div id='profile-friends' class="col">
      <div id="profile-friends-header">
        <h3>Friends</h3>
      </div>
      {% for friend in friends %}
      <a href="{% url 'users_detail' friend.user_id %}">
      <div id='friend'>
        <span><img src="../../static/images/{{friend.avatar}}.png" class="profile-image-med" alt="">
        {{friend.user.first_name}}</span>
      </div>
    </a>
      <hr class="row">
      {% endfor %}
    </div>

  </div>
{% endblock %}