{% extends 'base.html' %}

{% block content %}
  <p>{{userAssociatedWithProfile.first_name}}</p>
  <p>{{userAssociatedWithProfile.username}}</p>
  <p>{{profile.bio}}</p>

  
  {% if userAssociatedWithProfile.id == user.id %}
    <form action="{% url 'update_profile' profile.id %}" method="get">
      {% csrf_token %}
      <button type="submit" class="btn btn-success">Update Profile</button>
    </form>
  {% else %}
    {% if is_friend %}
      <form action="{% url 'delete_friend' profile.id user.id%}" method="get">
        {% csrf_token %}
        <button type="submit" class="btn btn-success">Delete Friend</button>
      </form>
    {% else %}
      <form action="{% url 'add_friend' profile.id user.id%}" method="get">
        {% csrf_token %}
        <button type="submit" class="btn btn-success">Add Friend</button>
      </form>
    {% endif %}
  {% endif %}
  {% if userAssociatedWithProfile.seed_set.count %}
    {% for seed in userAssociatedWithProfile.seed_set.all %}
     <p>{{seed.name}}</p>
     <img src="../../static/images/{{seed.kind}}.png" />
    {% endfor %}
  {% endif %}
{% endblock %}