body {
  padding-top: 53px;
}

.navbar-brand {
  font-family: 'Montserrat', sans-serif;
}

.dropdown-menu {
  min-width: 220px;
}

.btn-light {
  border: grey solid 1px;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

.no-decoration{
  color: black;
  text-decoration: none;
}

.no-decoration :hover{
  color: black;
  text-decoration: none;
}

/* Styling for sign up form and log in */

#signup{
  margin-left: 20px;
}

#signup-header{
  margin-top: 20px;
}

#signup-form{
  width: 50%;
}

/* Styling for home page */

#home-page{
  background-image: url('../images/background.jpg');
  background-size:contain;
  background-repeat: no-repeat;
  background-position: top right;
  height: 94vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#welcome {
  /* background-color: #507A4F; */
  /* border-radius: 50%; */
  width: 200px;
  height: 400px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  /* color: white; */
}

/* Styling for seed index page  */

#seed-index-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* font-family: 'Montserrat', sans-serif; */
}

#seed-index-header{
  margin-top: 20px;
  margin-left: 20px;
}

.cardModule {
  width: 400px;
  height: 205px;
  overflow: hidden;
  margin: 10px;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

#card-description {
  height: 95px;
  overflow: hidden;
}

.seed-source {
  margin: 0;
}

.card-title {
  margin-bottom: 0;
}

/* Styling for seed create form */

#seed-create{
  background-image: url('../images/background4.jpg');
  background-size:contain;
  background-repeat: no-repeat;
  background-position: top right;
  height: 100vh;
  margin-right: 80px;
}

#seed-create-header{
  margin-top: 20px;
  margin-left: 20px;
}

#seed-create-form{
  width: 50%;
  margin: 20px;
  height: 78vh;
  overflow-y: auto;
  padding: 10px;
  /* margin: 20px; */
  border: lightgrey solid 2px;
  border-radius: 7px; 
}

#seed-create-form textarea{
  height: 80px;
}

/* Styling for seed detail page */

#seed-details-header{
  margin-top: 20px;
  margin-left: 10px;
  /* display: inline-block; */
}

#seed-details-header-container{
  display: inline-block;
  display: flex;
  /* /* justify-content: center; */
  align-items: center; 
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#seed-details-header-image{
  margin-left: 20px;
}

#seed-details-header-text img{
  float: left;
  margin-right: 10px;
}

#seed-details-header-text-important{
  margin-top: 40px;
  padding-left: 20px;
}

#seed-details-header-info{
  margin-left: 20px;
  margin-top: 20px;
}

#seed-details-logic{
  display: flex;
  flex-direction: row;
}

#seed-details-logic a, button {
  margin-right: 5px;
  margin-bottom: 20px;
}


#notes {
  margin-top: 100px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
}

#note-form{
  margin-bottom: 10px;
  width: 80%;
}

#note-form label{
  display: none;
}

#note-form textarea{
  height: 80px;
}

#note-list{
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 45vh;
  overflow-y: auto;
  border: lightgrey solid 2px;
  padding: 10px;
  border-radius: 5px;
}

/* Styling for inbox and conversation details */

#inbox a{
  color: black;
  text-decoration: none;
}

.conversation-container{
 width: auto;
 height: 65vh;
 overflow-y: auto;
 padding: 10px;
 margin: 20px;
 border: lightgrey solid 2px;
 border-radius: 7px;
}

.my-message{
  float: right;
  background-color: lightgrey;
  border-radius: 7px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  margin: 5px;
}

.their-message{
  float: left;
  /* background-color: rgb(110, 168, 110); */
  background-color: #507A4F;
  border-radius: 7px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  margin: 5px;
  color: white;
}

#message-reply{
  margin: 100px;
  width: 50%;
  display: inline;
}

#message-reply label{
  display:none;
}

.fixed-bottom {
  /* background-color: rgb(110, 168, 110); */
  background-color: #507A4F;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}

#conversation-header{
  display: inline-block;
  margin-top: 20px;
}

#conversation-header h3{
  display: inline;
  padding-left: 20px;
}

#conversation-header a{
  position: absolute;
  right: 20px;
}

#inbox-header{
  display: inline-block;
  margin-top: 20px;
  width: 50%;
}

#inbox-page{
  background-image: url('../images/background.jpg');
  background-size:contain;
  background-repeat: no-repeat;
  background-position: top right;
  height: 100vh;
}

#inbox-header h1{
  display: inline-block;
  padding-left: 20px;
}

#inbox-header a{
  margin-top: 10px;
  margin-right: -20px;
  float: right;
}

#inbox{
 width: 50%;
 height: 75vh;
 overflow-y: auto;
 padding: 10px;
 margin: 20px;
 border: lightgrey solid 2px;
 border-radius: 7px; 
}

#create-message{
  margin-left: 20px;
}

#create-message-header{
  margin-top: 20px;
}

#create-message-form{
  width: 50%;
}

/* Styling for profile page */

.profile-image{
  border-radius: 50%;
  /* background-color: rgb(145, 196, 68); */
  background-color: #F18F01;
  height: 200px;
  padding: 5px;
  margin: 10px;
}

.profile-image-small{
  border-radius: 50%;
  /* background-color: rgb(145, 196, 68); */
  background-color: #F18F01;
  height: 45px;
  padding: 2px;
  margin: 10px;
}

.profile-image-med{
  border-radius: 50%;
  /* background-color: rgb(145, 196, 68); */
  background-color: #F18F01;
  height: 60px;
  padding: 2px;
  margin: 10px;
}

#profile-header{
  margin-top: 20px;
  margin-left: 10px;
  display: inline-block;
}

#profile-header-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#profile-header-text{
  float: right;
  /* margin-top: 20px; */
  margin-left: 20px;
}

#profile-friends{
  display: flex;
  flex-direction: column;
}

#profile-friends a{
  color: black;
  text-decoration: none;
  
}

#friend{
  display: inline;
}

#profile-seeds{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  padding-left: 20px;
}

#special-profile-text{
  width: 80%;
  padding-left: 10px;
}

#profile-seeds h3{
  padding-left: 10px;
}

/* Styling for profile create and update form */

#create-profile{
  margin-left: 20px;
}

#create-profile-header{
  margin-top: 20px;
}

#create-profile-form{
  width: 50%;
}

/* Styling for user index */
#user-index{
  margin-top: 20px;
  margin-left: 20px;
}

#user-index-list{
  margin-top: 20px;
  width: 90%;
}

#user-index-list a{
  color: black;
  text-decoration: none;
}

/* Styling for garden details page */

#garden-details-header{
  margin-top: 20px;
  margin-left: 20px;
}

#garden-details-seeds{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  padding-left: 20px;
}

#garden-details-seeds h3{
  padding-left: 10px;
}

#garden-details-todos-form{
  margin-bottom: 20px;
  margin-top: 10px;
}

#garden-details-todos-form label{
  display: none;
}

#garden-details-todos{
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-right: 20px;
  margin-right: 20px;
  
}