{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div id="garden-details">
  <div id="garden-details-header">
    <h1>My Garden</h1>
    <p class="text-muted">Welcome to your garden tracker! This is where you can keep track of which seeds in your seed library you're growing this season.</p>
    <hr>
  </div>
  <div class="row">
    <div class="col" id="garden-details-seeds">
      <h3>What You're Growing</h3>
      {% for seed in seeds %}
        <div class="card mb-3 cardModule" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-6">
              <div class="card-body">
                <h5 class="card-title">{{seed.name}}</h5>
                {% if seed.seed_source %}
                <p class="card-text seed-source"><small class="text-muted">{{seed.seed_source}}</small></p>
                {% endif %}
                <a class="card-text" href="{% url 'seeds_detail' seed.id %}"><small>Details</small></a>
                <div id="card-description">
                  <p class="card-text line-clamp">{{seed.description}}</p>
                </div>
              </div>
            </div>
            <div class="col-6">
              <img src="../../static/images/{{seed.kind}}.png" alt="...">
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="col" id="garden-details-todos">
      <h3>Garden To-Do List</h3>
      <div id="garden-details-todos-form">
        <form action="{% url 'add_todo' garden.id %}" method="post">
          {% csrf_token %}
          {{ todo_form|crispy}}
          <input type="submit" class="btn btn-light" value="Add Todo">
        </form>
      </div>
      {% if todos %}
      <table class="table table-striped">
        <thead>
          <th scope="col">To-Do</th>
          <th scope="col">✔️</th>
        </thead>
        <tbody>
        {% for todo in todos %}
          <tr>
            <td>
              {{todo.content}}
            </td>
            <td>
              <a href="{% url 'delete_todo' garden.id todo.id %}">✖️</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
      </table>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}