{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<h1>{{seed.name}}</h1>
<p>{{seed.description}}</p>
<img src="../../static/images/{{seed.kind}}.png" />

<a href="{% url 'share_seed' seed.id %}">Share</a>

{% if has_seed %}
  <p>You already saved this seed!</p>
  <form action="{% url 'remove_seed' seed.id user.id%}" method="post">
    {% csrf_token %}
  <button type='submit' class='btn btn-success'>Remove Seed</button>
  </form>
{% else %}
  <form action="{% url 'save_seed' seed.id user.id%}" method="post">
    {% csrf_token %}
  <button type='submit' class='btn btn-success'>Save Seed</button>
  </form>
{% endif %}


<form action="{% url 'add_note' seed.id %}" method="post">
  {% csrf_token %}
  {{ note_form|crispy}}
  <input type="submit" class="btn btn-success" value="Add Note">
</form>
{% for note in seed.note_set.all %}
{{note.date}}
{{note.content}}
{{note.user.username}}
{% endfor %}
{% endblock %}