{% extends 'base.html' %}
{% block content %}
  <div id="seed-index-header">
    <h1>All Seeds</h1>
  </div>
  <div id="seed-index-body">
    {% for seed in seeds %}
      <div class="card mb-3 cardModule" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-6">
            <div class="card-body">
              <h5 class="card-title">{{seed.name}}</h5>
              {% if seed.seed_source %}
              <p class="card-text seed-source"><small class="text-muted">{{seed.seed_source}}</small></p>
              {% endif %}
              <a class="card-text" href="{% url 'seeds_detail' seed.id %}"><small>Details</small></a>
              <div id="card-description">
                <p class="card-text line-clamp">{{seed.description}}</p>
              </div>
            </div>
          </div>
          <div class="col-6">
            <img src="../../static/images/{{seed.kind}}.png" alt="...">
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}